<table class="table table-hover table-inverse" >
  <thead>
    <tr>
      <th style="width: "></th>
      <th style="width: ">グループ名</th>
      <th style="width: ">紹介文</th>
      <th></th>
      
    </tr>
  </thead>
  
  </tbody>
    <% groups.each do |group| %>
      
    <tr>
      <td><%= link_to group_path(group.id) do%>
        <%=attachment_image_tag group,:image,:fill,50,50,format: 'jpeg', fallback: "no_image.jpg",size:"50x50" %>
        <%end%>
      </td>
      <td><%=link_to group.name, group_path(group.id) %></td>
      <td><%=group.introduction %></td>
      
      <% if current_user.id == group.owner_id %>
	      <td><%=link_to "Edit",edit_group_path(group.id), class:"btn btn-success btn-sm" %></td>
      <%end%>
    </tr>
    <%end%>
  </tbody>

</table>