<!--ユーザーごとの投稿画面-->
<!--user情報のupdete成功メッセージ-->
<p class="text-success"><%= flash[:user_update] %></p>

<div class ="col-md-3">

  <!--新規投稿の失敗　バリデーション-->
  <%= render "layouts/error",model:@newbook %>

  <%= render "users/profile" ,user:@user %>

  <!--チャットボタン-->
  <% if current_user.following?(@user) && @user.following?(current_user) %>
    <% unless @user.id==current_user.id %>
      <% if @isRoom == true %>
      	<%= link_to "チャットを始める",room_path(@roomId)%>
      <% else %>
      	<!--Roomの作成　RoomとEntry2つのモデルにデータを送る-->
      	<%= form_with model: @room, local: true do |f| %>
      		<%= fields_for @entry do |e| %>
      			<!--@entryのuser_idに@user.idを入れる-->
      			<%= e.hidden_field :user_id, value: @user.id %>
      		<%end%>
      		<%= f.submit "新しくチャットを始める",class:"text-primary"%>
      		<%#= link_to "新しくチャットを始める", rooms_path,method: :submit %>
      		<!--link_toだと何度もチャットを作成してしまう-->
      	<% end %>
      <%end%>
    <%end%>
  <%end%>

  <!--book新規投稿-->
  <%= render "books/newbook",newbook:@newbook %>
</div>

<div class="col-md-8 pt-3 offset-md-1">
  
  <%= render "users/books_table", books: @books, user: @user %>
  <%= render "users/the_day_before", 
    today_books: @today_books, yesterday_books: @yesterday_books, this_week_books: @this_week_books, last_week_books: @last_week_books %>
  <%= render "users/1week_chart", books: @books, user: @user %>
    

  <div class="mt-5">
    <%= form_with url: user_posted_search_path(@user), remote: true,method: :get do |f| %>
      <%= f.date_field :created_at %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <%end%>

    <div id="posted_result">
      <% if @search_book.present? %>
        <%= render "post_book_result" , search_books: @search_books%>
      <%end%>
    </div>
  </div>

</div>